<html lang="en">

   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Create your heroes</h1>
        <p>Welcome Soldier!</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/home/createheroe" role="button">Create Heroes! »</a>
        </p>
      </div>
    <%- include footer 
